{% extends "base.html" %}
{% load i18n %}

{% block head_title %}
{% trans "Email Address" %}
{% endblock head_title %}

{% block content %}
<div class="container mt-5">
    <h1>{% trans "Email Address" %}</h1>

    {% if not emailaddresses %}
    {% include "account/snippets/warn_no_email.html" %}
    {% else %}
    <form method="post" action="{% url 'account_email' %}">
        {% csrf_token %}
        {% for emailaddress in emailaddresses %}
        <div class="form-group">
            <label for="email_{{ emailaddress.id }}">
                {% if emailaddress.primary %}
                {% trans "Primary Email:" %}
                {% else %}
                {% trans "Email:" %}
                {% endif %}
            </label>
            <input type="email" id="email_{{ emailaddress.id }}" value="{{ emailaddress.email }}" class="form-control" disabled>
            <div>
                {% if not emailaddress.verified %}
                <small class="text-muted">
                    {% trans 'Your email address is still pending verification.' %}
                    <button type="submit" name="action" value="resend_verification" class="btn btn-secondary btn-sm">
                        {% trans 'Re-send Verification' %}
                    </button>
                    {% if not emailaddress.primary %}
                    <button type="submit" name="action" value="remove" class="btn btn-danger btn-sm">
                        {% trans 'Remove' %}
                    </button>
                    {% endif %}
                </small>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <div class="form-group">
            <label for="new_email">{% trans "Change to:" %}</label>
            <input type="email" name="email" id="new_email" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">
            {% trans "Change Email" %}
        </button>
    </form>
    {% endif %}
</div>
{% endblock %}
