{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
            <h1 class="display-4 text-center my-4">Find and Book Services</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100 main-content">
    <div class="row h-100 align-items-center">
        <div class="col-md-8 mx-auto text-center">
            <p class="lead">
                Explore a wide range of services from businesses around you. Whether you're looking for a personal trainer, a handyman, or a beauty salon, we've got you covered.
            </p>
            <div class="my-4">
                <a href="#" class="btn btn-primary btn-lg rounded-0 text-uppercase py-3">Browse Services</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

