body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding-top: 80px;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Navigation bar styling */
.navbar {
    background-color: #ffffff;
    padding-bottom: 10px;
}

.nav-link {
    color: #555 !important;
    font-weight: bold; /* Make links bold */
}

.nav-link:hover, .nav-link:focus {
    color: #007bff !important;
}

/* Header and logo styling */
.header-logo {
    font-size: 22px;
    font-weight: bold;
}


/* Site name/logo styling */
#mobile-home {
    font-weight: bold;
    font-size: 20px;
}

/* Icons in the navbar */
.fas {
    margin-right: 5px;
}

/* Dropdown menu styling */
.dropdown-menu {
    border-radius: 0;
}

/* Search and other form elements */
.form-control {
    border-radius: 0;
}

/* Buttons */
.btn-black {
    background-color: #333;
    color: #fff;
}

.btn-black:hover {
    background-color: #000;
}

/* Utility classes */
.text-center {
    text-align: center;
}

.mr-5 {
    margin-right: 3rem;
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}

/* Main content enhancements */
.main-content h1 {
    font-size: 2.5rem; /* Larger heading for impact */
    margin-bottom: 1.5rem; /* Space after heading */
}

.main-content p {
    font-size: 1.1rem; /* Slightly larger paragraph */
}
/* Button enhancements */
.btn-primary, .btn-black {
    border-radius: 0; /* Align with theme */
    padding: 10px 20px; /* Larger clickable area */
    font-size: 18px; /* Larger text */
}

.btn-primary:hover, .btn-black:hover {
    opacity: 0.8; /* Subtle hover effect */
}

/* Utility and responsive adjustments */
.custom-spacing {
    padding-top: 2rem; /* Space below navbar */
    padding-bottom: 2rem; /* Space before footer */
}


.ProfilePicture {
    width: 150px; /* Adjust size as needed */
    height: 150px; /* Keep it a square for consistency */
    border-radius: 50%; /* Circular image */
    border: 4px solid #fff; /* White border for some pop */
    box-shadow: 0 2px 4px rgba(0,0,0,.1); /* Soft shadow for depth */
    object-fit: cover; /* Ensure the image covers the area nicely */
    margin-top: -75px; /* Adjust based on your layout */
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.business-details {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.business-details p, .business-details div {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .custom-spacing {
        padding-top: 100px; /* Increase for mobile */
    }
}

/* Responsive adjustments */
@media (max-width: 992px) {
    .d-lg-none {
        display: block !important;
    }
}

@media (min-width: 993px) {
    .d-none.d-lg-block {
        display: block !important;
    }
}
