{% extends "base.html" %}

{% block content %}
<div class="container mt-4 page-content">
    <h1 class="text-center">About Us</h1>
    <p class="mt-3">
        Welcome to The Booking Service, where we connect customers with service providers across various categories including Wellness, Beauty, and Home Improvement. Our platform makes it easy to find, book, and manage appointments, all in one place.
    </p>
    <p>
        Since our inception in 2024, we have been dedicated to improving the ease of access to essential services for our users. Our mission is to simplify the process of scheduling appointments, making it convenient, quick, and hassle-free.
    </p>
    <p>
        Whether you are looking to relax with a spa day, get a new haircut, or renovate your home, The Booking Service is your trusted partner in managing your appointments effectively.
    </p>
</div>
{% endblock %}
