{% extends "base.html" %}

{% load static %}
{% load i18n crispy_forms_tags %}

{% block head_title %}{% trans "Edit Business" %}{% endblock %}

{% block content %}
<div class="container mt-5 page-content">
    <h1 class="text-center">{% trans "Edit Business Details" %}</h1>

    <div class="mt-4">
        <!-- Display current logo as an image if it exists -->
        {% if business.logo %}
        <div class="current-logo-display text-center">
            <label>{% trans "Current Logo" %}</label>
            <div>
                <img src="{{ business.logo.url }}" alt="{% trans 'Business Logo' %}" class="business-logo-preview">
            </div>
        </div>
        {% endif %}

        <!-- The form for editing business details -->
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}

            <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary">{% trans "Save Changes" %}</button>
                <a href="{% url 'business_detail' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
            </div>
        </form>
    </div>
</div>


{% endblock %}
