{% load static %}
{% load i18n %}

<!doctype html>
<html lang="en">
<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}{% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    {% endblock %}

    {% block extra_css %}{% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}{% endblock %}

    <title>{% block extra_title %}Service Booking Platform{% endblock %}</title>
</head>

<body>
<header class="container-fluid fixed-top">
    <div class="row bg-light">
        <nav class="navbar navbar-expand-lg navbar-light w-100 justify-content-center">
            {% include 'includes/mobile-top-header.html' %}
            <div class="collapse navbar-collapse" id="main-nav">
                {% include 'includes/main-nav.html' %}
            </div>
        </nav>
    </div>
</header>

<main role="main" class="container mt-5 pt-5 custom-spacing page-content">
    {% if messages %}

    <div class="message-container ">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    <div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="notificationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="notificationModalLabel">Notification</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Message will be injected here -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>






    {% block page_header %}

    {% endblock %}

    {% block content %}

    {% endblock %}





</main>




{% block footer %}
<footer class="footer mt-auto py-3 dark-bg text-white ">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mb-3 mb-lg-0">
                <h5>Sign up for our Newsletter</h5>
                <div id="mc_embed_signup">
                    <form action="https://herokuapp.us18.list-manage.com/subscribe/post?u=7819827cfd5fd88f7383cc584&amp;id=1f75c8b0d1&amp;f_id=00acc2e1f0"
                          method="post"
                          id="mc-embedded-subscribe-form"
                          name="mc-embedded-subscribe-form"
                          class="validate"
                          target="_blank"
                          novalidate>
                        <div class="input-group">
                            <input type="email"
                                   name="EMAIL"
                                   class="required email form-control"
                                   id="mce-EMAIL"
                                   placeholder="Enter your email"
                                   required>
                            <div class="input-group-append">
                                <input type="submit"
                                       value="Subscribe"
                                       name="subscribe"
                                       id="mc-embedded-subscribe"
                                       class="btn btn-primary">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Social Media Column -->
            <div class="col-lg-6 text-lg-right text-center ">
                <h5>Follow us</h5>
                <a href="https://www.facebook.com/profile.php?id=61558680238868" class="text-white ml-2" target="_blank">
                    <i class="fab fa-facebook-f fa-2x"></i>
                </a>
                <h5>Privacy Policy</h5>
                <a href="{% url 'privacy_policy' %}" class="text-white ml-2">
                    <i class="fas fa-lock"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
{% endblock %}


</body>




{% block postloadjs %}
<script type="text/javascript">
    $(document).ready(function() {
        $('.toast').toast('show');
    });
</script>
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

<script type="text/javascript">
    $(document).ready(function() {
        // Trigger the toast notifications if there are any messages
        $('.toast').toast('show');

        // Detect Mailchimp's form submission response and display in modal
        function displayMailchimpResponse(isSuccess, message) {
            var title = isSuccess ? 'Subscription Successful!' : 'Subscription Failed';
            var alertClass = isSuccess ? 'alert-success' : 'alert-danger';
            $('#notificationModal').find('.modal-title').text(title);
            $('#notificationModal').find('.modal-body').html('<div class="'+ alertClass +'">' + message + '</div>');
            $('#notificationModal').modal('show');
        }

        // Monitor Mailchimp's response containers for changes
        var successContainer = $('#mce-success-response');
        var errorContainer = $('#mce-error-response');

        // Use MutationObserver to detect when Mailchimp's response text changes
        var observer = new MutationObserver(function(mutations) {
            mutations.forEach(function(mutation) {
                if(mutation.addedNodes.length) {
                    var responseText = mutation.addedNodes[0].textContent;
                    var isSuccess = $(mutation.target).is(successContainer);
                    displayMailchimpResponse(isSuccess, responseText);
                    if(isSuccess) {
                        $('#mc-embedded-subscribe-form')[0].reset(); // Clear the form
                    }
                }
            });
        });

        // Observe both success and error containers for child additions (text)
        observer.observe(successContainer[0], { childList: true });
        observer.observe(errorContainer[0], { childList: true });
    });
</script>






{% endblock %}
</html>
